body { 
	color:white;
	background-color: #272b30;
}

.box {
  background-color: #2e3338;
  width: 300px;
  border: 15px black;
  padding: 50px;
  margin: 20px;
  text-align: center;
}
 .centering-canvas {
    text-align: center;
 }
 .flappy-canvas-text{
  padding-left: 1,000,0px;
 }